@import "common.scss";
@import "_minix.scss";
.wrap {
    width: 100%;
    height: 100%;
    background: #F2F2FE;
    @include box_flex;
    @include direction(column);
}

.header {
    width: 100%;
    height: pxTorem(50px);
    @include box_flex;
    @include align;
    @include justify(space-around);
    font-size: pxTorem(16px);
    background: #fff;
    flex-shrink: 0;
}

.section {
    width: 100%;
    @include flex;
    margin-top: pxTorem(15px);
    background: #fff;
    padding: 0 pxTorem(15px);
    @include sizing;
    .box {
        width: 100%;
        height: 100%;
        dl {
            margin-top: pxTorem(10px);
            width: 100%;
            height: pxTorem(150px);
            border-radius: pxTorem(10px);
            border: pxTorem(1px) solid #ccc;
            overflow: hidden;
            dt {
                width: 100%;
                height: 50%;
                background: #FD6060;
                @include box_flex;
                @include justify(space-between);
                color: #fff;
                padding: 0 pxTorem(15px);
                @include sizing;
                p {
                    font-size: pxTorem(60px);
                    span {
                        font-size: pxTorem(25px);
                    }
                }
                span {
                    font-size: pxTorem(25px);
                }
            }
            dd {
                width: 100%;
                height: 50%;
                @include box_flex;
                @include direction(column);
                @include justify;
            }
        }
        dl:nth-child(2) {
            dt {
                background: #5686F4;
            }
        }
        dl:nth-child(3) {
            dt {
                background: #965DF5;
            }
        }
        dl:nth-child(4) {
            dt {
                background: #4BC670;
            }
        }
    }
}